absl-py==0.13.0
alabaster==0.7.12
antlr4-python3-runtime==4.8
appdirs==1.4.4
argh==0.26.2
arrow==0.13.1
attrs 
Babel==2.9.1
backports.entry-points-selectable==1.1.0
binaryornot==0.4.4
black==21.7b0
bleach==3.3.0
brotlipy==0.7.0
bump2version==0.5.11
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.6
cfgv==3.3.0
chardet==4.0.0
charset-normalizer==2.0.1
click==8.0.1
colorama==0.4.4
coverage==5.5
cryptography==3.4.8
cycler==0.10.0
distlib==0.3.2
dnspython==1.16.0
docopt==0.6.2
docutils==0.17.1
easydict==1.9
entrypoints==0.3
fett==0.3.2
filelock==3.0.12
flake8==3.9.2
fvcore==0.1.5.post20210915
grpcio==1.39.0
identify==2.2.13
idna==3.2
imagesize==1.2.0
iniconfig==1.1.1
iopath==0.1.9
Jinja2==3.0.1
jinja2-time==0.2.0
kiwisolver 
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib 
mccabe==0.6.1
mkl-fft==1.3.0
mkl-random 
mkl-service
mypy-extensions==0.4.3
networkx==2.6.2
nodeenv==1.6.0
numpy 
oauthlib==3.1.1
olefile==0.46
omegaconf 
opencv-python==4.5.3.56
packaging==21.0
pathspec==0.9.0
pathtools==0.1.2
Pillow 
pkginfo==1.7.1
platformdirs==2.0.0
pluggy==0.13.1
portalocker 
poyo==0.5.0
pre-commit==2.14.0
protobuf==3.17.3
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pycparser==2.20
pyflakes==2.3.1
Pygments==2.9.0
pymongo==3.11.4
pyOpenSSL==20.0.1
pyparsing==2.4.7
PySocks==1.7.1
pytest==6.2.4
python-dateutil==2.8.1
python-jsonrpc-server==0.3.4
python-slugify==5.0.2
pytz==2021.1
PyYAML==5.4.1
readme-renderer==29.0
regex 
requests==2.26.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rsa==4.7.2
scipy==1.7.0
six 
snooty-lextudio==1.11.1.dev0
snowballstemmer==2.1.0
tabulate==0.8.9
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
termcolor==1.1.0
text-unidecode==1.3
toml 
tomli==1.2.1
torch==1.9.0
torchmetrics==0.5.0
torchvision==0.10.0
tornado 
tox==3.14.0
tqdm 
twine==1.14.0
typed-ast 
typing-extensions 
ujson==1.35
Unidecode==1.3.2
urllib3==1.26.6
virtualenv==20.5.0
watchdog==1.0.2
webencodings==0.5.1
Werkzeug==2.0.1
whichcraft==0.6.1
yacs==0.1.8
zipp 
