NAME: RAFT
ENCODER:
  FEATURE: 
    NAME: BasicEncoder
    IN_CHANNELS: 3
    OUT_CHANNELS: 256
    NORM: instance
    P_DROPOUT: 0.0
    LAYER_CONFIG: [64, 96, 128]
    INTERMEDIATE_FEATURES: False
  CONTEXT:
    NAME: BasicEncoder
    IN_CHANNELS: 3
    OUT_CHANNELS: 256
    NORM: batch
    P_DROPOUT: 0.0
    LAYER_CONFIG: [64, 96, 128]
    INTERMEDIATE_FEATURES: False
HIDDEN_DIM: 128
CONTEXT_DIM: 128
SIMILARITY:
  NAME: MutliScalePairwise4DCorr
  NUM_LEVELS: 4
DECODER:
  NAME: RecurrentLookupUpdateBlock
  INPUT_DIM: 128
CORR_RADIUS: 4
CORR_LEVELS: 4
MIXED_PRECISION: False
UPDATE_ITERS: 12